# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip: [pylint]
  autoupdate_schedule: monthly

exclude: ^(cmake/ECM|cmake/KDAB/|src/3rdparty/|code.dev.code-workspace)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-executables-have-shebangs
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.6
    hooks:
      - id: clang-format
        exclude: (.json)
  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        exclude: ^(.cmake-format.py|conan/conanfile.py)
        additional_dependencies: ["PySide6"]
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-lint
        exclude: (.py.cmake|Doxyfile.cmake|examples/flutter/|tests/flutter/)
        args: ["--line-width=1000"] # we don't care about line-width
      - id: cmake-format
        exclude: (.py.cmake|Doxyfile.cmake|examples/flutter/|tests/flutter/)
  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [fix, feat, ci, tests, chore, refactor, docs]
