# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
    skip: [pylint]
    autoupdate_schedule: monthly

exclude: ^(cmake/ECM|cmake/KDAB/|src/3rdparty/|code.dev.code-workspace)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-xml
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-json
  - id: check-symlinks
  - id: destroyed-symlinks
  - id: check-executables-have-shebangs
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.6
  hooks:
  - id: clang-format
    exclude: (.json)
- repo: https://github.com/PyCQA/pylint
  rev: v3.0.3
  hooks:
  - id: pylint
    exclude: ^(.cmake-format.py|conan/conanfile.py)
    additional_dependencies: ["PySide2", "PySide6"]
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
  - id: autopep8
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-lint
    exclude: (.py.cmake|Doxyfile.cmake|examples/flutter/)
  - id: cmake-format
    exclude: (.py.cmake|Doxyfile.cmake|examples/flutter/)
- repo: https://github.com/fsfe/reuse-tool
  rev: v3.0.1
  hooks:
  - id: reuse
