name: KDDockWidgets
description: Dart counterpart of the KDDockWidget Flutter frontend

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  ffi:
  intl:
  meta:
  KDDockWidgetsBindings:
    path: '../generated/KDDockWidgetsBindings/dart/'

dev_dependencies:
  pedantic: ^1.9.0
